.classpath
.project
.settings
.wtpmodules
*.ipr
*.iws
*.iml
target/
bin/
*.log
.deployables
.clover
META-INF/
target
eclipse-classes
*.log
lib/*.jar
build
dist
.externalToolBuilders
.idea
*.conf
*.properties
b.sh
b.bat